.carteMain {
    width: 100px;
    height: 130px;
    display: inline-block;
}

.carteMain img {
    max-width: 100%;
}

.tuile, .carte {
    width: 100px;
    height: 135px;
    display: inline-block;
    border: solid 1px;
    text-align: center;
}

.carte img {
    max-width: 100%;
}

#plateau {
    margin: 0 auto;
    text-align: center;
}



